body {
  scrollbar-width: hidden;
}

p,
h2,
h3,
li,
button,
input,
textarea {
  font-family: "manrope", sans-serif;
}

button {
  background: none;
  border: none;
}

/* Flexbox Row Custom */
.row-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-sb-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-sa-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-se-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-fs-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-fe-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-c-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-c-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-c-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-evenly;
  -ms-flex-align: space-evenly;
  align-items: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-c-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row-c-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* Flexbox Column Custom */
.col-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-c-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-evenly;
  -ms-flex-align: space-evenly;
  align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-c-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-c-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-evenly;
  -ms-flex-align: space-evenly;
  align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-c-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-c-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-se-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-sa-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-sb-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-fs-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.col-fe-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.margin-container {
  padding: 0 5rem;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes viewImageFadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes viewImageFadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes viewImageFadeOutBackground {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@keyframes viewImageFadeOutBackground {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes viewImageFadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes viewImageFadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes viewImageFadeOutImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes viewImageFadeOutImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.nav-container {
  z-index: 5;
  background-color: white;
  position: relative;
  max-height: 100vh;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .nav-container {
    position: fixed;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 0 1rem;
  z-index: 3;
  background-color: white;
}

@media only screen and (max-width: 900px) {
  .mobile-nav {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.mobile-nav .mobile-nav-logo {
  width: 100px;
}

.mobile-nav .mobile-nav-toggle .nav-toggle-img {
  font-size: 2.3rem;
  z-index: 5;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}

.nav-toggle .nav-toggle-img {
  position: absolute;
  top: 3rem;
  right: 1rem;
  font-size: 2.3rem;
  z-index: 5;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .nav-toggle .nav-toggle-img {
    font-size: 5rem;
    top: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .nav-toggle .nav-toggle-img {
    font-size: 2rem;
    top: 1.5rem;
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
}

.nav-content .nav-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 300px;
  grid-template-rows: 200px 300px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100%;
  width: 70%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-content .nav-logo {
  width: clamp(200px, 70%, 300px);
  position: relative;
  right: 0.7rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media only screen and (max-width: 1400px) {
  .nav-content .nav-logo {
    width: 160px;
  }
}

@media only screen and (max-width: 900px) {
  .nav-content .nav-logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
    left: 0.2rem;
    width: 145px;
    margin-top: 3rem;
  }
}

.nav-content .nav-links-container {
  row-gap: 2rem;
}

@media only screen and (max-width: 1400px) {
  .nav-content .nav-links-container {
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .nav-content .nav-links-container {
    width: 65vw;
    margin-inline: auto;
  }
}

.nav-content .nav-links-container .nav-gallery-links {
  row-gap: 2rem;
  width: 100%;
}

.nav-content .nav-links-container .nav-divider {
  width: 100%;
  height: 2px;
  width: 100%;
  background-color: black;
}

.nav-content .nav-links-container .nav-link {
  font-size: 1.5rem;
  font-weight: 350;
}

.nav-content .nav-links-container .nav-active {
  font-weight: 600;
}

.nav-content .nav-socials-container {
  width: 100%;
  position: relative;
  bottom: 2rem;
}

.nav-content .nav-socials-container button {
  cursor: pointer;
}

.nav-content .nav-socials-container svg {
  font-size: 3rem;
  z-index: 5;
}

.gallery-container {
  height: 100vh;
}

.gallery-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 1rem;
  height: calc(100vh + 2rem);
  margin: auto;
  scrollbar-width: 2px;
  grid-auto-flow: dense;
  position: relative;
  padding: 1rem 1rem 1rem 0rem;
}

@media only screen and (max-width: 1700px) {
  .gallery-images {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1400px) {
  .gallery-images {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .gallery-images {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .gallery-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 5rem 1rem 25rem 1rem;
  }
}

.gallery-image-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  scrollbar-width: none;
}

@media only screen and (max-width: 800px) {
  .gallery-image-container {
    grid-column: span 1 !important;
  }
}

.gallery-image-container:hover::after {
  content: "View Image";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
  -webkit-animation: fadeIn 0.6s both;
  animation: fadeIn 0.6s both;
}

.gallery-image-container:hover {
  -webkit-transform: scale(0.993);
  transform: scale(0.993);
}

.gallery-image-container .gallery-image {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

.gallery-image-container .gallery-image:hover {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  color: white;
  z-index: 3;
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-container {
  scrollbar-width: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

.layout-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .layout-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.about-container {
  max-width: 1400px;
  margin-inline: 4rem;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -ms-grid-column-align: center;
  justify-self: center;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .about-container {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 1100px) {
  .about-title {
    display: none;
  }
}

.about-content {
  -webkit-column-gap: 3rem;
  column-gap: 3rem;
}

@media only screen and (max-width: 1400px) {
  .about-content {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    margin-inline: auto;
    row-gap: 2rem;
    position: relative;
    top: 85px;
    margin: 0rem 0 2rem 0;
  }
}

@media only screen and (max-width: 1400px) {
  .about-content {
    padding-bottom: 10rem;
  }
}

.about-info {
  font-size: 1.3rem;
  line-height: 42px;
  height: 500px;
}

@media only screen and (max-width: 1100px) {
  .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 0 1rem;
  }
}

.about-info h1 {
  font-size: 3.5rem;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
  .about-info h1 {
    padding-bottom: 2rem;
  }
}

.about-info .about-description {
  width: 95%;
  font-weight: 300;
}

@media only screen and (max-width: 1100px) {
  .about-info .about-description {
    text-align: center;
    width: 100%;
    line-height: 38px;
    font-size: 1.2rem;
  }
}

.about-profile-photo {
  justify-self: flex-end;
}

.about-profile-photo img {
  height: 500px;
}

@media only screen and (max-width: 1100px) {
  .about-profile-photo img {
    height: auto;
    width: 90%;
  }
}

.contact-container {
  max-height: 900px;
  width: 100%;
}

.contact-content {
  max-width: 1000px;
  min-height: 450px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  margin-inline: 3rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media only screen and (max-width: 1100px) {
  .contact-content {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .contact-content {
    row-gap: 3rem;
    width: 85%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    top: 85px;
    height: 100%;
    padding: 2rem 0;
    padding-bottom: 10rem;
  }
}

.contact-content h1 {
  width: 100%;
  text-align: left;
}

.contact-content input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333333;
  border-radius: 0;
  outline: none;
  font-size: 1.3rem;
  padding: 0 0 0.5rem 0.5rem;
}

.contact-content textarea {
  width: 100%;
  height: 100%;
  min-height: 350px;
  max-height: 200px;
  resize: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.contact-content button {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 0.6rem 0;
}

.contact-message {
  resize: none;
}

.image-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.7);
}

@media only screen and (max-width: 900px) {
  .image-modal-container {
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-rows: 50px 1fr;
    grid-template-rows: 50px 1fr;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100vh;
  }
}

@media only screen and (max-width: 900px) {
  .image-modal-background-close {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .image-modal-close-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 70px;
  }
}

.image-modal-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 5;
  border-radius: 50%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.7);
  color: black;
}

@media only screen and (max-width: 900px) {
  .image-modal-close {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
  }
}

.image-modal-border {
  z-index: 6;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media only screen and (max-width: 900px) {
  .image-modal-border {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1rem 0 3rem 0;
    height: 100%;
  }
}

.image-modal-border .image-right-panel,
.image-modal-border .image-left-panel {
  position: absolute;
  top: 0rem;
  right: 0rem;
  left: 50%;
  bottom: 0rem;
}

.image-modal-border .image-right-panel .image-right-arrow,
.image-modal-border .image-left-panel .image-right-arrow,
.image-modal-border .image-right-panel .image-left-arrow,
.image-modal-border .image-left-panel .image-left-arrow {
  width: auto;
  height: 70px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
}

@media only screen and (max-width: 1400px) {
  .image-modal-border .image-right-panel .image-right-arrow,
  .image-modal-border .image-left-panel .image-right-arrow,
  .image-modal-border .image-right-panel .image-left-arrow,
  .image-modal-border .image-left-panel .image-left-arrow {
    display: none;
  }
}

.image-modal-border .image-left-panel {
  right: 50%;
  left: 0rem;
}

.image-modal-border .hoverNext {
  cursor: pointer;
}

.image-modal-border .hoverPrev {
  cursor: pointer;
}

.image-modal-image {
  max-height: 90vh;
  z-index: 6;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media only screen and (max-width: 1400px) {
  .image-modal-image {
    max-height: 800px;
    max-width: 75vw;
  }
}

@media only screen and (max-width: 900px) {
  .image-modal-image {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
  }
}

.image-modal-enter {
  opacity: 0;
}

.image-modal-enter-active {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.image-modal-exit {
  opacity: 1;
}

.image-modal-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.close-page-container {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/*# sourceMappingURL=index.css.map */
